@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "roboto condensed", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px; 
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.icons{
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.navbar a:hover::before{
    width: 100%;
}

.homepage{
    min-height: 100vh;
    background: url('image/judul.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    align-items: start;
    height: 100vh;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    color: white;
}

.content h1{
    width: 460px;
    font-size: 50px;
}

.content p{
    width: 500px;
}

.content a{
    color: white;
    background: red;
    width: 130px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.content a:hover{
    background: black;
    color: red;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

section{
    min-height: 100vh;
    background: url('image/tiga.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
}

section:nth-child(odd){
    min-height: 100vh;
    background: url('image/duaaa.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.game{
    background-color: black;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container{
    width: 100%;
    margin-top: 60px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}


.container div{
    width: 430px;
    height: 270px;
    float: left;
    margin: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container h1{
    color: white;
    padding: 5px;
}

.container h2{
    color: white;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.container table{
    text-align: left;
    padding: 5px;
    width: 400px;
}

.satu{
    background: url('image/ff.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.satu:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.dua{
    background: url('image/ml.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.dua:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.tiga{
    background: url('image/hok.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tiga:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.empat{
    background: url('image/pubg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.empat:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.lima{
    background: url('image/genshin.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.lima:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.enam{
    background: url('image/roblox.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.enam:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.tujuh{
    background: url('image/minecraft.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tujuh:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.delapan{
    background: url('image/coc.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.delapan:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.sembilan{
    background: url('image/star.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sembilan:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.sepuluh{
    background: url('image/zzz.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sepuluh:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}



abbr {
    text-decoration: none;
}

.satu a{
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.satu a:hover{
    background-color: red;
}

.dua a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.dua a:hover{
    background-color: red;
}

.tiga a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tiga a:hover{
    background-color: red;
}

.empat a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.empat a:hover{
    background-color: red;
}

.lima a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.lima a:hover{
    background-color: red;
}

.enam a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.enam a:hover{
    background-color: red;
}

.tujuh a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tujuh a:hover{
    background-color: red;
}

.delapan a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.delapan a:hover{
    background-color: red;
}

.sembilan a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sembilan a:hover{
    background-color: red;
}

.sepuluh a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sepuluh a:hover{
    background-color: red;
}

.bot{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.bot h2{
    margin-top: 80px;
    
}

.tentang{
    position: absolute;
    width: 100%;
    height: 60%;
    margin: 30px auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.tentang div{
    width: 50%;
    height: 100%;
    float: left;
    margin: 5px;
}

.kesatu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kedua ul{
    list-style: none;
}

ul li{
    padding: 25px;
}

.kesatu h1 {
    width: 400px;
}

.contact {
    width: 100%;
    height: 100vh;
    display: block;
}

.contact-me{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-me .row-contact {
    max-width: 800px;
    text-align: center;
}

.contact-me .row-contact h2{
    font-size: 32px;
    font-weight: 500;
    color: white;
}

.contact-me .row-contact p{
    font-weight: 300;
    font-size: 18px;
    color: white;
    padding: 10px;
}

.contact-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-info .row-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-info .row-info .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-info .row-info .box .iconc{
    min-width: 60px;
    height: 60px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 22px;
}

.contact-info .row-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.contact-info .row-info .box .text h3{
    font-weight: 500;
    color: red;
}

.row-form{
    width: 40%;
    padding: 40px;
    background: white;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.row-form h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.row-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
    color: black;
}

.row-form .input-box input,
.row-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.row-form .input-box label{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.row-form .input-box input:focus ~ label,
.row-form .input-box input:valid ~ label,
.row-form .input-box textarea:focus ~ label,
.row-form .input-box textarea:valid ~ label {
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.row-form .input-box input[type="submit"] {
    width: 100px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 991px) {
    .contact-me{
        padding: 50px;
    }

    .contact-info{
        flex-direction: column;
    }

    .contact-info .row-info{
        margin-bottom: 40px;
    }

    .contact-info .row-info .row-form{
        width: 100%;
    }
        
}

.footer{
    height: 100vh;
    width: 100%;
    position: absolute;
    background: gray;
}

.promosi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.promosi h3{
    margin-top: 60px;
}

.footer-dua{
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content{
    width: 100%;
}

.row-icon{
    display: flex;
    justify-content: center;
}

.row-icon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#ig{
    color: black;
}

.row-footer{
    margin: 5px 0;
}

.row-footer ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}

.row-footer ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
}

.row-bottom{
    background: black;
    padding: 20px;
    text-align: center;
}

.row-bottom p{
    color: white;
}

.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .row-footer ul{
        flex-direction: column;
    }

    .row-footer ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

.more{
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-decoration: none;
    width: 330px;
    height: 270px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.more img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2px;
    height: 130px;
}

.more p{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
