@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto condensed", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.navbar a:hover::before{
    width: 100%;
}

.homepage{
    min-height: 100vh;
    background: url('image/1369831.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    align-items: start;
    height: 100vh;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    color: white;
}

.content h1{
    width: 350px;
    font-size: 50px;
}

.content p{
    width: 500px;
}

.content a{
    color: red;
    text-decoration: none;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: gray;
    color: white;
}

section:nth-child(odd){
    background: red;
}
