@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "roboto condensed", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.navbar a:hover::before{
    width: 100%;
}

.homepage{
    min-height: 100vh;
    background: url('image/1369831.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    display: flex;
    align-items: start;
    height: 100vh;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    color: white;
}

.content h1{
    width: 460px;
    font-size: 50px;
}

.content p{
    width: 500px;
}

.content a{
    color: white;
    background: red;
    width: 130px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.content a:hover{
    background: black;
    color: red;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

section{
    min-height: 100vh;
    display: flex;
    background: rgb(78, 23, 23);
    color: white;
}

section:nth-child(odd){
    background: rgb(30, 37, 30);
}

.container{
    width: 100%;
    margin-top: 60px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}


.container div{
    width: 430px;
    height: 270px;
    float: left;
    margin: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container h1{
    color: white;
    padding: 5px;
}

.container table{
    text-align: left;
    padding: 5px;
    width: 400px;
}

.satu{
    background: url('image/ff.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.satu:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.dua{
    background: url('image/ml.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.dua:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.tiga{
    background: url('image/hok.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tiga:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.empat{
    background: url('image/pubg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.empat:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.lima{
    background: url('image/genshin.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.lima:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.enam{
    background: url('image/roblox.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.enam:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.tujuh{
    background: url('image/minecraft.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tujuh:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.delapan{
    background: url('image/coc.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.delapan:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.sembilan{
    background: url('image/star.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sembilan:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

.sepuluh{
    background: url('image/zzz.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sepuluh:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}



abbr {
    text-decoration: none;
}

.satu a{
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.satu a:hover{
    background-color: red;
}

.dua a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.dua a:hover{
    background-color: red;
}

.tiga a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tiga a:hover{
    background-color: red;
}

.empat a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.empat a:hover{
    background-color: red;
}

.lima a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.lima a:hover{
    background-color: red;
}

.enam a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.enam a:hover{
    background-color: red;
}

.tujuh a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.tujuh a:hover{
    background-color: red;
}

.delapan a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.delapan a:hover{
    background-color: red;
}

.sembilan a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sembilan a:hover{
    background-color: red;
}

.sepuluh a{
    text-decoration: none;
    color: black;
    background: white;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.sepuluh a:hover{
    background-color: red;
}

